@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600&display=swap");

body {
  font: 18px "Montserrat", Futura, sans-serif;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  background-color: rgb(212, 210, 210);
}

.description {
  font-family: Montserrat;
}

.description h1 {
  text-align: center;
}

.description p {
  padding: 0 18%;
  text-align: center;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  margin: auto auto;
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 40px;
  font-weight: bold;
  line-height: 34px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}

.square:focus {
  outline: none;
  background-color: rgb(183, 211, 243);
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.game-info {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 14rem;
  /* height: 2rem; */
}

.game-info button {
  width: 9.5rem;
  padding: 10px;
  margin-top: 10px;
}

@media screen and (max-width: 680px) {
  .description h1 {
    font-size: 1.6rem;
  }

  .description p {
    padding: 0 5%;
    text-align: center;
  }

  .game-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
